<div id="dropdownAvatarName" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44">
    <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
        <li>
            <a href="/profile" class="block px-4 py-2 hover:bg-gray-100">Profile</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100">About</a>
        </li>
        <li>
            <a href="/help" class="block px-4 py-2 hover:bg-gray-100">Help</a>
        </li>
    </ul>
    <div class="py-1 bg-red-500  hover:bg-red-600 rounded-b-lg">
        <a href="/logout" class="text-white block px-4 py-2 text-sm">Log out</a>
    </div>
</div>