<div id="hoverme" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 hidden" role="alert">
  <span class="font-medium"></span>
</div>
<div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50  hidden" role="success">
  <span class="font-medium"></span>
</div>