<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/fonts') %>
        <title>Forgot Password</title>
        <link rel="stylesheet" href="/style.css">
</head>

<body class="font-[Inter] flex flex-col items-center justify-center">
    
    <header class="bg-[#6d74fc] w-full py-4 px-6 rounded-b-xl flex items-center">
        <a class="text-white text-lg cursor-pointer" id="backPage">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M12.707 15.707a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 011.414 1.414L8.414 10l4.293 4.293a1 1 0 010 1.414z"
                    clip-rule="evenodd" />
            </svg>
        </a>
            <h1 class="text-white text-center text-2xl font-semibold flex-grow">Forgot Password</h1>
    </header>
    
    <div class="p-8 w-full max-w-md">
        <%- include('partials/success') %>
            <div class="flex justify-start ">
                <img src="/logo.webp" class="h-36" />
            </div>

            <h2 class="text-2xl font-semibold text-[#6d74fc] text-start">Forgot Password</h2>
            <p class="text-gray-600 text-sm text-start mt-2">
                Enter the email address you registered with and we’ll send you instructions to reset your password.
            </p>

            <form class="mt-4">
                <label class="block text-gray-700 text-sm font-medium mb-2">Email</label>
                <div class="relative w-full">
                <input type="email" name="email" id="email-address" required
                    class="w-full px-4 py-2 border pr-10 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#4b50ad]"
                    pattern=".+@students\.muet\.edu\.pk" title="Email format: rollno@students.muet.edu.pk"
                    placeholder="Enter your email" autocomplete="email" autofocus />
                    <button type="button" id="autofill-button"
                                class="absolute right-2 top-1/2 transform -translate-y-1/2 text-[#6d74fc] font-semibold hover:underline">
                                <svg viewBox="0 0 24 24" class="w-5 h-5" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M19 3V7M17 5H21M19 17V21M17 19H21M10 5L8.53001 8.72721C8.3421 9.20367 8.24814 9.4419 8.10427 9.64278C7.97675 9.82084 7.82084 9.97675 7.64278 10.1043C7.4419 10.2481 7.20367 10.3421 6.72721 10.53L3 12L6.72721 13.47C7.20367 13.6579 7.4419 13.7519 7.64278 13.8957C7.82084 14.0233 7.97675 14.1792 8.10427 14.3572C8.24814 14.5581 8.3421 14.7963 8.53001 15.2728L10 19L11.47 15.2728C11.6579 14.7963 11.7519 14.5581 11.8957 14.3572C12.0233 14.1792 12.1792 14.0233 12.3572 13.8957C12.5581 13.7519 12.7963 13.6579 13.2728 13.47L17 12L13.2728 10.53C12.7963 10.3421 12.5581 10.2481 12.3572 10.1043C12.1792 9.97675 12.0233 9.82084 11.8957 9.64278C11.7519 9.4419 11.6579 9.20367 11.47 8.72721L10 5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    </button>
                </div>
                <button type="submit"
                    class="w-full bg-[#6d74fc] text-white py-2 rounded-lg mt-4 hover:bg-[#5257b8] transition">
                    Send instructions
                </button>
            </form>
    </div>
</body>
<script src="/forget-password/script.js"></script>
</html>