<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/fonts') %>
        <title>Forgot Password</title>
        <link rel="stylesheet" href="/style.css">
</head>

<body class="font-[Inter] flex flex-col items-center justify-center">
    
    <header class="bg-[#6d74fc] w-full py-4 px-6 rounded-b-xl flex items-center">
        <a class="text-white text-lg cursor-pointer" id="backPage">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M12.707 15.707a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 011.414 1.414L8.414 10l4.293 4.293a1 1 0 010 1.414z"
                    clip-rule="evenodd" />
            </svg>
        </a>
            <h1 class="text-white text-center text-2xl font-semibold flex-grow">Forgot Password</h1>
    </header>
    
    <div class="p-8 w-full max-w-md">
        <%- include('partials/success') %>
            <div class="flex justify-start ">
                <img src="/logo.png" class="h-36" />
            </div>

            <h2 class="text-2xl font-semibold text-[#6d74fc] text-start">Forgot Password</h2>
            <p class="text-gray-600 text-sm text-start mt-2">
                Enter the email address you registered with and we’ll send you instructions to reset your password.
            </p>

            <form class="mt-4">
                <label class="block text-gray-700 text-sm font-medium mb-2">Email</label>
                <input type="email"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#4b50ad]"
                    placeholder="Enter your email" autocomplete="email" autofocus />
                <button type="submit"
                    class="w-full bg-[#6d74fc] text-white py-2 rounded-lg mt-4 hover:bg-[#5257b8] transition">
                    Send instructions
                </button>
            </form>
    </div>
</body>
<script src="/forget-password/script.js"></script>
</html>