<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/fonts') %>
    <title>Inbox</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="font-[Inter] bg-gray-100">

    <div class="bg-[#6d74fc] text-white p-5 rounded-b-lg flex items-center ">
        <div class="flex items-center">
            <a id="backPage" class="text-white text-lg">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M12.707 15.707a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 011.414 1.414L8.414 10l4.293 4.293a1 1 0 010 1.414z"
                        clip-rule="evenodd" />
                </svg>
            </a>
        </div>
        <div class="flex flex-col items-center w-full space-y-1">
            <p class="text-[24px] font-bold mr-8">Notification</p>
        </div>
    </div>

    <div id="inbox" class="p-5">
        
    </div>
         
    
</body>
<script src="/inbox/script.js"> </script>

</html>