<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/fonts') %>
        <title>UniRide</title>
        <link rel="stylesheet" href="/style.css">
</head>

<body class="font-[Inter]">

    <div class="flex-col bg-[#6d74fc] min-h-dvh flex items-center justify-center transition duration-1000 ease-out"
        id="splash-screen">
        <img src="/uniRide.webp" alt="logo" class="w-52">
    </div>

    <div class="flex-col justify-between min-h-dvh px-6 py-16 hidden transition duration-1000 ease-in"
     id="main-content">

        <h1 class="text-3xl font-bold text-[#6d74fc] self-center">Welcome!</h1>

        <div class="flex flex-col items-center">
            <img src="logo.webp" alt="UniRide Logo" class="w-48">
        </div>

        <div class="flex flex-col items-center space-y-4">
            
            <button onclick="window.location.href='/signup';"
                class="bg-[#6d74fc] text-white font-medium text-sm py-3 px-12 rounded-full shadow-lg hover:bg-[#5e63d0]">
                CREATE AN ACCOUNT
            </button>

            <p class="text-gray-600 font-medium">Already have an account?
                <a href="/login" class="text-[#6d74fc] font-semibold hover:underline">Login</a>
            </p>
        </div>
    </div>
</body>
<script src="/index/script.js"></script>
</html>