<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/fonts') %>
        <title>Reset Password</title>
        <link rel="stylesheet" href="/style.css">
</head>

<body
    class="font-[Inter] flex flex-col justify-center items-center  bg-gray-50 selection:bg-[#6d74fc] selection:text-white">

    <div id="loader" class="hidden fixed inset-0 items-center justify-center bg-black bg-opacity-50 z-50">
        <div class="w-12 h-12 border-4 border-[#6d74fc] border-t-transparent rounded-full animate-spin"></div>
    </div>

    <header class="bg-[#6d74fc] w-full py-4 px-6 rounded-b-xl flex items-center">
        <h1 class="text-white text-center text-2xl font-semibold flex-grow">Reset Password</h1>
    </header>
    <div class="p-8 mt-10">
        <!-- Alert -->
        <%- include('partials/success') %>
            <h2 class="text-xl font-semibold text-[#6d74fc] ">Create New Password</h2>
            <p class="text-sm text-gray-500 mt-1">
            <p>Changing Password request for <%= email ? email : "Unknown email" %>
            </p>
            </p>

            <form class="mt-4">
                <input type="hidden" id="token" name="token" value="<%= token %>">

                <!-- New Password -->
                <div class="relative">
                    <input type="password" id="password" name="password" placeholder="New password" minlength="8"
                        required
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#6d74fc]">
                    <span class="absolute right-3 top-3 cursor-pointer text-gray-400"
                        onclick="togglePassword('password','eyeImage', 'CloseEyeImage' )">
                        <img src="/eye-svgrepo-com.svg" alt="eye" id="eyeImage" class="h-5 w-5">
                        <img src="/eye-password-hide-svgrepo-com.svg" alt="closeEye" id="CloseEyeImage"
                            class="h-5 w-5 hidden">
                    </span>
                </div>

                <!-- Confirm Password -->
                <div class="relative mt-3">
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password"
                        minlength="8" required
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#6d74fc]">
                    <span class="absolute right-3 top-3 cursor-pointer text-gray-400"
                        onclick="togglePassword('confirmPassword','ConfirmPasswordEyeImage', 'ConfirmPasswordCloseEyeImage')">
                        <img src="/eye-svgrepo-com.svg" alt="eye" id="ConfirmPasswordEyeImage" class="h-5 w-5">
                        <img src="/eye-password-hide-svgrepo-com.svg" alt="closeEye" id="ConfirmPasswordCloseEyeImage"
                            class="h-5 w-5 hidden">
                    </span>
                </div>

                <!-- Submit Button -->
                <button type="submit"
                    class="w-full bg-[#6d74fc] text-white font-semibold py-3 rounded-lg mt-5 hover:bg-[#5e63d0]">
                    Reset Password
                </button>
            </form>

            <!-- Login Link -->
            <p class="text-center text-sm text-gray-500 mt-4 px-2">
                Did you succeed in resetting your password?
                <a href="/login" class="text-[#6d74fc] font-semibold">Log In</a>
            </p>
    </div>

</body>
<script src="/resetPassword/script.js"></script>

</html>