<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/fonts') %>
    <title>Ride Created</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="font-[Inter] p-8 flex flex-col items-center space-y-6 justify-around min-h-dvh">
        
        <div class="space-y-4 flex flex-col justify-center items-center">
        
        <div class="w-24 h-24 rounded-full flex items-center justify-center shadow-md">
            <svg class="w-12 h-12 text-[#6d74fc] animate-checkmark" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
        </div>


        <h1 class="text-3xl font-semibold text-gray-500">Ride Created!</h1>


        <p class="text-center text-sm text-gray-500">
            Your ride has been created. To view<br>
            more details, Please head to current Ride<br>
            section on the Home Page.
        </p>
    </div>

        <button onclick="window.location.href='/home'"
        class="bg-[#6d74fc] text-white font-semibold py-3 px-16 rounded-full shadow-lg hover:bg-[#5e63d0] transition-transform transform hover:scale-105">
            CONTINUE TO HOME
        </button>
    </div>
</body>
</html>