<h2 class="text-lg font-semibold text-gray-800 mt-6">Current Ride</h2>
<div id="currentRideDiv" class="mb-6">

    <div class="bg-white mt-2 rounded-lg shadow p-4 flex items-center justify-between w-full animate-pulse">
        <div>
            <div class="flex items-center space-x-2">
                <div class="w-5 h-5 rounded-full bg-gray-300"></div>
                <div>
                    <div class="h-4 w-32 bg-gray-300 rounded"></div>
                    <div class="h-3 w-20 bg-gray-200 rounded mt-1"></div>
                </div>
            </div>

            <div class="ml-2 border-l-2 border-dashed border-gray-300 h-4"></div>

            <div class="flex items-center space-x-2">
                <div class="w-6 h-6 rounded-full bg-gray-300"></div>
                <div>
                    <div class="h-4 w-32 bg-gray-300 rounded"></div>
                    <div class="h-3 w-20 bg-gray-200 rounded mt-1"></div>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-end text-right">
            <div class="mb-2">
                <div class="h-5 w-16 bg-gray-300 rounded"></div>
                <div class="h-3 w-20 bg-gray-200 rounded mt-1"></div>
            </div>

            <div class="w-8 h-8 bg-gray-300 rounded-full mt-3"></div>
        </div>
    </div>
</div>