<div class="grid grid-cols-4 gap-4 mt-3">
    <a href="/offer_ride" class="flex flex-col items-center">
        <div class="cursor-pointer w-14 h-14 bg-white rounded-[16px] flex items-center justify-center">
            <img class="w-10 h-10" src="/home/plus.webp">
        </div>
        <p class="text-xs font-medium text-gray-700 mt-2">Offer Ride</p>
    </a>
    <a href="/find_ride" class="flex flex-col items-center">
        <div class="cursor-pointer w-14 h-14 bg-white rounded-[16px] flex items-center justify-center">
            <img class="w-8 h-8" src="/home/search.webp">
        </div>
        <p class="text-xs font-medium text-gray-700 mt-2">Find Ride</p>
    </a>
    <a href="/ride/history" class="flex flex-col items-center">
        <div class="cursor-pointer w-14 h-14 bg-white rounded-[16px] flex items-center justify-center">
            <img class="w-8 h-8" src="/home/history.webp">
        </div>
        <p class="text-xs font-medium text-gray-700 mt-2">History</p>
    </a>
    <a href="/vehicle/manageVehicles" class="flex flex-col items-center">
        <div class="cursor-pointer w-14 h-14 bg-white rounded-[16px] flex items-center justify-center">
            <img class="w-9 h-9" src="/home/motorcycle.webp">
        </div>
        <p class="text-xs font-medium text-gray-700 mt-2">Vehicle</p>
    </a>
</div>
