<div class="p-6 w-full md:w-1/3 space-y-6">
      <div class="flex items-start">
          <div class="bg-gray-100 p-3 rounded-lg">
              <svg viewBox="0 0 24 24" fill="none" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                  stroke="#000000">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                      <path
                          d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 13.5997 2.37562 15.1116 3.04346 16.4525C3.22094 16.8088 3.28001 17.2161 3.17712 17.6006L2.58151 19.8267C2.32295 20.793 3.20701 21.677 4.17335 21.4185L6.39939 20.8229C6.78393 20.72 7.19121 20.7791 7.54753 20.9565C8.88837 21.6244 10.4003 22 12 22Z"
                          stroke="#000000" stroke-width="1.5"></path>
                      <path opacity="0.5" d="M12 16V8" stroke="#000000" stroke-width="1.5" stroke-linecap="round">
                      </path>
                      <path opacity="0.5" d="M8 14V10" stroke="#000000" stroke-width="1.5" stroke-linecap="round">
                      </path>
                      <path opacity="0.5" d="M16 14V10" stroke="#000000" stroke-width="1.5"
                          stroke-linecap="round"></path>
                  </g>
              </svg>
          </div>
          <div class="ml-4">
              <h3 class="text-lg font-medium text-gray-700">Chat to us</h3>
              <p class="text-sm text-gray-500">Our friendly team is here to help.</p>
              <p class="text-sm text-gray-800 font-medium mt-1">uniridecoperations2025@gmail.com</p>
          </div>
      </div>

      <!-- Visit Us -->
      <div class="flex items-start">
          <div class="bg-gray-100 p-3 rounded-lg">
              <svg viewBox="-4 0 32 32" version="1.1" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                      <title>location</title>
                      <desc>Created with Sketch Beta.</desc>
                      <defs> </defs>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                          sketch:type="MSPage">
                          <g id="Icon-Set" sketch:type="MSLayerGroup"
                              transform="translate(-104.000000, -411.000000)" fill="#000000">
                              <path
                                  d="M116,426 C114.343,426 113,424.657 113,423 C113,421.343 114.343,420 116,420 C117.657,420 119,421.343 119,423 C119,424.657 117.657,426 116,426 L116,426 Z M116,418 C113.239,418 111,420.238 111,423 C111,425.762 113.239,428 116,428 C118.761,428 121,425.762 121,423 C121,420.238 118.761,418 116,418 L116,418 Z M116,440 C114.337,440.009 106,427.181 106,423 C106,417.478 110.477,413 116,413 C121.523,413 126,417.478 126,423 C126,427.125 117.637,440.009 116,440 L116,440 Z M116,411 C109.373,411 104,416.373 104,423 C104,428.018 114.005,443.011 116,443 C117.964,443.011 128,427.95 128,423 C128,416.373 122.627,411 116,411 L116,411 Z"
                                  id="location" sketch:type="MSShapeGroup"> </path>
                          </g>
                      </g>
                  </g>
              </svg>
          </div>
          <div class="ml-4">
              <h3 class="text-lg font-medium text-gray-700">Visit us</h3>
              <p class="text-sm text-gray-500">Come say hello us at.</p>
              <p class="text-sm text-gray-800 font-medium mt-1">
                  Software Department, MUET, Jamshoro, Sindh, Pakistan
              </p>
          </div>
      </div>

      <!-- Call Us -->
      <div class="flex items-start">
          <div class="bg-gray-100 p-3 rounded-lg">
              <svg viewBox="0 0 24 24" fill="none" class="h-6 w-6 " xmlns="http://www.w3.org/2000/svg">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M17.3545 22.2323C15.3344 21.7262 11.1989 20.2994 7.44979 16.5502C3.70068 12.8011 2.27383 8.66562 1.76771 6.64553C1.47684 5.48462 2.00061 4.36437 2.88872 3.73L5.21698 2.06697C6.57925 1.09391 8.47435 1.4241 9.42727 2.80054L10.8931 4.9178C11.5153 5.81654 11.3006 7.04833 10.4112 7.68369L9.24237 8.51853C9.41926 9.19513 9.96942 10.5846 11.6924 12.3076C13.4154 14.0306 14.8049 14.5808 15.4815 14.7577L16.3164 13.5889C16.9517 12.6994 18.1835 12.4848 19.0822 13.107L21.1995 14.5728C22.5759 15.5257 22.9061 17.4208 21.9331 18.7831L20.27 21.1113C19.6357 21.9994 18.5154 22.5232 17.3545 22.2323ZM8.864 15.136C12.2734 18.5454 16.0358 19.8401 17.8406 20.2923C18.1044 20.3584 18.4233 20.2559 18.6426 19.9488L20.3056 17.6206C20.63 17.1665 20.5199 16.5348 20.0611 16.2172L17.9438 14.7514L17.0479 16.0056C16.6818 16.5182 16.0047 16.9202 15.2163 16.7501C14.2323 16.5378 12.4133 15.8569 10.2782 13.7218C8.14313 11.5867 7.46222 9.76773 7.24991 8.78373C7.0798 7.99534 7.48184 7.31824 7.99442 6.95212L9.24868 6.05622L7.78288 3.93896C7.46524 3.48014 6.83354 3.37008 6.37945 3.69443L4.0512 5.35747C3.74416 5.57678 3.64165 5.89568 3.70774 6.15946C4.15992 7.96421 5.45462 11.7267 8.864 15.136Z"
                          fill="#0F0F0F"></path>
                      <path
                          d="M18.4142 6.99997H21C21.5523 6.99997 22 7.44769 22 7.99997C22 8.55226 21.5523 8.99997 21 8.99997H17C15.8954 8.99997 15 8.10454 15 6.99997V2.99997C15 2.44769 15.4477 1.99997 16 1.99997C16.5523 1.99997 17 2.44769 17 2.99997V5.58574L21.2552 1.33055C21.6457 0.940028 22.2789 0.940027 22.6694 1.33055C23.0599 1.72108 23.0599 2.35424 22.6694 2.74477L18.4142 6.99997Z"
                          fill="#0F0F0F"></path>
                  </g>
              </svg>
          </div>
          <div class="ml-4">
              <h3 class="text-lg font-medium text-gray-700">Call us</h3>
              <p class="text-sm text-gray-500">Mon-Fri from 8am to 5pm.</p>
              <p class="text-sm text-gray-800 font-medium mt-1">+92 345 3696819</p>
          </div>
      </div>
  </div>